h1 {
  font-family: "New Rocker", Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

h2 {
font-family: "New Rocker", Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 3rem;
  font-style: normal;
  color: white;
  text-align: center;
}


.logo {
    width: 175px;
    height: 175px;
    margin-top: 15px;
}

.title {
    background-color: red;
    margin-top:-175px;
    margin-bottom:-100px;
}

.buttons {
    margin-top:-175px;
    background-color: blue;
}

.banner-image {
    margin-top: 25px;
    width: 800px;
    height: 375px;
    object-fit: cover;
}

.banner-text {
   z-index: 1;
   position: absolute;
   left: 750px;
   width: 400px;
   margin-top: 100px;
   height: fit-content;
    background: linear-gradient(180.33deg, #C4AAC0 50%, rgba(157, 115, 151, 0) 100%);

    padding-top: 15px;
    padding-bottom: 50px;

   h1 {
    color: black;
    text-align: center;
   }

}

@media screen and (max-width: 1200px) {
    

    .banner-image {
        width: 500px;
        height: 275px;
        left: 100px;
    }

      .banner-text {
        z-index: 1;
        position: absolute;
        left: 475px;
        margin-inline: auto; 
        margin-top: 75px;
    }
}

@media screen and (max-width: 992px) {

    /* need to add a buffer for iphone island dead space */

    .banner-image {
        left: 0;
        right: 0;
        margin-inline: auto; /* centers image */

    }

    .banner-text {
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        margin-inline: auto; 
        margin-top: 250px;
    }

    .ipod-base  {
        position: absolute;
        left: 0;
        right: 0;
        margin-inline: auto; 
        margin-top: -50px !important;
    }

    .my-container {
        min-height: 250vh;
    }

}

@media screen and (max-width: 800px) {
    .logo {
        visibility: hidden;
    }

    .logo-mobile {
        width: 175px;
        height: 175px;
        margin-top: -25px;
    }

    .ipod-base  {
        margin-top: 100px !important;
    }
}

@media screen and (min-width: 801px) {
    .logo-mobile {
        display: none;
    }
}


body {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(51, 21, 99, 0.5) 5%,rgba(51, 21, 99, 0.75) 15%, #000000 35%, #000000 65%, rgba(51, 21, 99, 0.75) 85%, rgba(51, 21, 99, 0.5) 95%, rgba(0, 0, 0, 0) 100%), url("./images/angela-tile.JPG");
    overflow-x: hidden;
}

.my-container {
    min-height: 100vh;
}

/* Chrome Button */

.chrome-button {
    margin: 2px;
    background: linear-gradient(45deg, #D0D0D0 0%, #838383 25%, #BEBEBE 75%, #838383 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 25px;
    border-color: #FFFFFF #D0D0D0 #707070 #707070;
    color: white;
    width: 100px;
    height: 30px;

    a {
        text-decoration: none;
        color: white;
    }

}

.chrome-div {
    width: fit-content;
    background: linear-gradient(180deg, #FFFFFF 0%, #707070 60%, #BEBEBE 99.99%);
    border-radius: 25px;
    margin: 10px;
    padding: 0px;

}


/* iPod styles */

.ipod-base {
    
width: 325px;
height: 550px;
left: 45px;
top: 759px;
margin-top: 50px;
background: linear-gradient(187.84deg, #666666 -7.53%, #FFFFFF 37.12%, #BDBDBD 71.24%, #848484 96.82%);
border: 1px solid #8A8A8A;
border-radius: 28px;
padding: 25px;

}

.ipod-screen {

    width: 275px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;

}

.ipod-screen-2 {

    width: 275px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0 0 0 0
}

.ipod-scroll-wheel {
    width: 200px;
  
    height: 200px;
    margin-top: 50px;
    border-radius: 50%;
    background: #FFFFFF;

}

.center-dot {
    height: 75px;
    width: 75px;
    background: linear-gradient(29.47deg, #D9D9D9 21.14%, #737373 124.8%);
    border-radius: 50%;
    margin-top: -25px;
}

.progress-container {
    margin-top: 25px;
    height: 20px;
    width: 150px;
    background: linear-gradient(357.83deg, #FFFFFF 5.75%, #CECECE 34.39%, #ECECEC 68.04%, #FFFFFF 81.68%);
    border: 0.5px solid rgba(212, 212, 212, 0.737);

}

.ipod-time {
    background: linear-gradient(0deg, #FFFFFF -51.17%, #A953FF -18.51%, #B188FF 32.05%, #9232CA 74.53%, #FFFFFF 103.12%);
    border: 0.5px solid rgba(204, 187, 204, 0.737255);
    height: 100%;
    width: 0;
    transition: width 0.1s linear;

}

.podcast-cover {
    margin-top: 25px;
    transform: skew(0deg, -10deg);
    -webkit-box-reflect: below 5px linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.0) 25%);
}

.ipod-text {
    margin-top: 20px;
}

.ipod-time-text {
    font-size: .8rem;
    vertical-align: bottom;
    margin-top: 25px;
}

.hidden {
    display: none;
}

#menu-list {
    height: 165px;
    overflow-y: scroll;
}

.menu-item {
 border-bottom: 1px solid grey;
 padding-left: 5px;
}

.menu-item:hover {
    background: linear-gradient(0deg, #FFFFFF -51.17%, #A953FF -18.51%, #B188FF 32.05%, #9232CA 74.53%, #FFFFFF 103.12%);
    color:white;
}

.menu-top {
    height: 25px;
    background: linear-gradient(to bottom, #D9D9D9 21.14%, #737373 124.8%);
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.my-foot {
    height: 50px;
    color: white;
    background-color: black;
    margin-top: 25px;
    padding: 10px;
}

/* camcorder */

.my-gif {
    transform: skew(2deg, -2deg);
    z-index: 1;
    margin-top: 105px;
    margin-left: 25px;
    border: 5px solid rgb(33, 33, 36);
    object-fit: cover;
    width: 245px;
    height: 165px;
    border-radius: 5%;
}

.camcorder {
    background-image: url("./images/camcorder.png");
    background-size: cover;
    background-position: center;
    width: 452px;
    height: 378px;
    margin-bottom: 25px;
}